.header {
    font-family: fantasy;
    text-align: center;
    background-color:#85ffcc;
    padding: 5px;
    margin-top: 50px;
    width: 50%;
    margin:10px auto;
  }
  #header {
    padding-bottom:50px;
    font-weight:bold;
  }
  .container1 {
      display: flex;
      flex-wrap: wrap;
  }
  .container1 > div {
      background-color: #85ffcc;
      font-size: 20px;
      margin: 20px;
      padding: 20px;
      width: 200px;
      padding-top: 20px;
      margin:5px auto;
}
  .row > div {
    padding: 10px;
    background-color: #85ffcc;
    border: 2px solid black;
    margin: 20px auto;
  }
  .container {
    width: auto;
    font-weight: bold;
  }
